.home {
   background-image: url("../../assets/laguna1.jpg");
   width: 100vw;
   height: 100vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position-y: center;
}
